.App {
  text-align: center;
  background-color: #0FA36B;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  background-image: url('https://images2.alphacoders.com/805/805172.jpg');
};